<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <!-- Botón Cerrar Sesión -->
      <ion-button color="danger" (click)="cerrarSesion()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Gestión de Presupuestos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Botón Crear Presupuesto -->
      <ion-button expand="block" color="primary" (click)="crearPresupuesto()">
        Crear Presupuesto
      </ion-button>

      <!-- Nuevo botón Agregar Gastos -->
      <ion-button expand="block" color="secondary" routerLink="/crearpresupuesto">
        Agregar Gastos
      </ion-button>

      <!-- Mostrar la lista de presupuestos o mensaje de no presupuestos -->
      <ion-list *ngIf="!noHayPresupuestos; else noPresupuestosTemplate">
        <ion-item-divider color="light">Lista de Presupuestos</ion-item-divider>

        <!-- Mostrar los presupuestos en una lista -->
        <ion-item *ngFor="let presupuesto of presupuestos">
          <ion-label>{{ presupuesto.nombre }}</ion-label>
          <ion-label>{{ presupuesto.descripcion }}</ion-label>
          <ion-button fill="outline" color="secondary" (click)="verPresupuesto(presupuesto)">Ver</ion-button>
          <ion-button fill="outline" color="secondary" (click)="editarPresupuesto(presupuesto)">Editar</ion-button>
          <ion-button fill="outline" color="danger" (click)="eliminarPresupuesto(presupuesto)">Eliminar</ion-button>
          <ion-button fill="outline" color="primary" (click)="compartirPorCorreo(presupuesto)">Compartir por Correo</ion-button>
        </ion-item>
        
      </ion-list>

      <!-- Template para cuando no haya presupuestos -->
      <ng-template #noPresupuestosTemplate>
        <ion-card>
          <ion-card-header>
            <ion-card-title>No hay presupuestos creados</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>
